.order-area {
  padding: 160px 0;
}
.total {
  background-color: #fff6f6;
}
.total td {
  font-weight: bold;
}
.dlt-btn {
  background-color: rgb(204, 74, 34);
}
.dlt-btn:hover {
  background-color: rgb(204, 74, 34);
}
